html {
  font-family: Times New Roman;
  font-size: 10pt; }

section {
  position: relative;
  height: 100%;
  page-break-after: always;
}

.appendix-section {
  margin: 0 0 6pt 0;  
}

.capitalize {
  text-transform: uppercase;
}

p {
  margin: 0;
  text-align: justify;
}

header {
  margin: 0 0 10pt 0;
}

.header1 > p {
  text-align: center;
}

header > hr {
  margin: 0;
}

#rst_ocsm {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  border: 0;
  padding: 0;
  transform: scale(0.9);
}

#address {
  display: inline-block;
  max-width: 80%;
}

#address > p {
  text-align: center;
}

.field {
  margin: 0 0 6pt 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid;
  font-size: 10pt;
  line-height: 0.9;
}

td, th {
  border: 1px solid;
}

.measurement-table th {
  max-width: 25%;
}

.centered-cell {
  text-align: center;
}

.channel-cell {
  white-space: nowrap;
  min-width: 20%;
}

.sign {
  margin: 10pt 0;
  position: relative;
}

ol {
  margin: 0;
  padding: 0 0.35cm;
}

.comment {
  font-size: 8pt;
  font-style: italic;
}

footer {
  position: absolute;
  top: 26.5cm;
  right: 0;
}

footer > p {
  width: 100%;
  text-align: right;
}

@media print {
  @page {
    margin: 1cm;
  }
}

.two-column {
  margin: 0 0 6pt 0;
  display: flex;
  flex-direction: row;
}

.two-column > p {
  flex: 1;
}

.sign > img {
  position: absolute;
  top: -3.55cm;
  left: 2.5cm;
    transform: scale(0.28);
}
