:root {
  --color-passive: rgba(0.1, 0.1, 0.1, 0.1);
  --color-background: white;
  --color-background-contrast: black;
  --color-text: black;
  --color-text-contrast: white;
  --font-size: 10pt;
  --sub-font-size: 8pt;
}

html {
  margin: 0;
  padding: 0;
  background: #aaa;
}

body {
  background: white;
  font: var(--font-size) sans-serif;  
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

main {
  flex-grow: 1;
  padding: 6px;
}

footer, header {
  font-size: 12pt;
  padding: 6px;
}

footer {
  text-align: center;
  flex-shrink: 0;
}

#toolbar-panel {
  margin: 6px;
}

#toolbar-panel * {
  margin: 0 6px;
  background: #dddddd;
  text-transform: uppercase;
}

#query-panel {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
}

#query-panel * {
  margin: 0 6px;
}

#query {
  flex-grow: 1;
}

table {
  overflow: scroll;
  max-height: 80vh;
  max-width: 100vw;
  display: block;
  margin: 6px 0;
  border-collapse: collapse;
  border: 1px solid;
  font-size: 10pt;
  line-height: 0.9;
}

td, th {
  border: 1px solid;
}

table .selected {
  background: #ddddff;
}

td[contenteditable^="false"] {
  background: var(--color-passive);
}

#main-menu a {
  padding: 6px 6px;
  color: var(--color-text);
  background: var(--color-background);
  text-decoration: none;
}

#main-menu a:hover {
  color: var(--color-text-contrast);
  background: var(--color-background-contrast);
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  background: white;
  border: solid 1px;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu-active {
  display: block;
}

.context-menu-items {
  list-style: none;
  margin: 2px;
  padding: 0;
}

.context-menu-item {
  background: white;
  color: var(--color-text);
  text-align: left;
}

.context-menu-spliter hr {
  margin: 2;
  background: white;
}

.context-menu-item:hover {
  background: #e3e3e3;
}

.context-menu-link {
  text-decoration: none;
  color: var(--color-text);
}
