:root {
    --primary-color: #1c2b5d;
    --secondary-color: #5368ae;
    --tertiary-color: #6c7bae;
    --primary-text-color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#svelte_body {
    margin: 0;
    padding: 0;
    grid-column: 1 / 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4em 1fr min-content;
}
